.tag-list {
    border: 1px solid black;
}

.tag-popup {
    position: absolute;
    width: 25%;
    background-color: rgb(161, 161, 161);
}

.spell-list-entry {
    padding: .5em;
    width: 100%;
}

.spell-list {
    overflow: scroll;
}

#spell-modal {
    max-height: 1vh !important;
}

.spell-header {
    display: inline-flex;
    width: 100%;
}

.spell-header-main {
    display: flex;
    flex: 1;
    justify-content: left;
}

.spell-header-sub {
    color: gray;
    display: flex;
    font-size: small;
    flex: 1;
    justify-content: right;
    align-items: flex-start;
    padding-right: 1em;
}
